<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body> 
    <header class="bg-white w-full h-24 shadow-xl/30 flex items-center justify-center px-10">
        <nav class="flex flex-row items-center space-x-10">
            <h1 class="text-4xl font-bold" >Report Fast</h1>
            <ul class="flex flex-row space-x-6 text-gray-700">
                <li>Tech</li>
                <li>Finance</li>
                <li>Health</li>
                <li>Bussiness</li>
            </ul>
            <form action=""></form>
        </nav>
    </header>
   <div class="container mx-auto p-4 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        {% for article in news %}
        <div class="bg-white p-4 rounded shadow">
            <img src="{{ article.urlToImage }}" class="rounded mb-2">
            <h2 class="font-bold text-lg">{{ article.title }}</h2>
            <p class="text-sm">{{ article.description }}</p>
            <a href="{{ article.url }}" class="text-blue-500">Read more</a>
        </div>
        {% endfor %}
   </div>
    
</body>
</html>
